# Gemini
GEMINI_API_KEY=

# Database
POSTGRES_VERSION=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_HOST=

# Litellm
LITELM_VERSION=
LITELLM_MASTER_KEY=
LITELLM_DB=
LITELLM_DATABASE_URL=


# MLflow
MLFLOW_PORT=
MLFLOW_HOST=
MLFLOW_DB=
MLFLOW_VERSION=
MLFLOW_BACKEND_STORE_URI=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=

S3_BUCKET=
MLFLOW_S3_ENDPOINT_URL=
MLFLOW_ARTIFACTS_DESTINATION=

# Minio
MINIO_VERSION=
MC_VERSION=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# Grafana
GRAFANA_VERSION=
GRAFANA_PORT=
GRAFANA_HOST=
GRAFANA_DB=
GRAFANA_USER=
GRAFANA_PASSWORD=

# Prometheus
PROMETHEUS_VERSION=
PROMETHEUS_PORT=
PROMETHEUS_HOST=
PROMETHEUS_DB=
PROMETHEUS_USER=
PROMETHEUS_PASSWORD=

# Loki
LOKI_VERSION=
LOKI_PORT=
LOKI_HOST=
LOKI_DB=
LOKI_USER=
LOKI_PASSWORD=

# Mimir
MIMIR_VERSION=

# Tempo
TEMPO_VERSION=